$blue: #2F4858;
$green: #518071;
$gray: #ededed;
$white: #fff;
$light-green: rgba(200, 252, 234, 0.8);

$primary-color: $green;
$secondary-color: $blue;
$light-green-color: $light-green;
$gray-color: $gray;
$white-color: $white;

$space-mono-font: "Space Mono", monospace;
$asistant-font : "Assistant", sans-serif;

$default-font-size: 16px;
$title-font-size: 32px;
