$blue: #2F4858;
$green: #518071;
$gray: #ededed;
$white: #fff;
$black: #222;

$primary-color: #518071;
$secondary-color: #2F4858;
$gray-color: #ededed;
$white-color: #fff;
$black-color: #222;

$dark-green: #3f6459;
$dark-blue: #1d2d36; 

$space-mono-font: "Space Mono", monospace;
$assistant-font : "Assistant", sans-serif;

$default-font-size: 16px;
$title-font-size: 32px;
