.button{
    width: 160px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;

    &.primary{
        background: $primary-color;
        color: $white-color;
        border: none;

        &:hover{
            background: $dark-green;
            transition: 0.6s;
        }
    }

    &.secondary{
        border: 1px solid $primary-color;
        color: $primary-color;
        background: transparent;

        &:hover{
            background: $primary-color;
            color: $white-color;
            border: 1px solid transparent;
            transition: 0.6s;
        }
    }
}