main{

    .about{

        .about__inner{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .about__title{
                margin-top: 60px;

                &::after{
                    content: "|";
                    animation: blink 1s infinite;
                
                    @keyframes blink {
                        0%, 100% {
                        opacity: 1;
                        }
                        50% {
                        opacity: 0;
                        }
                    }
                }  
            }

            .picture{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                margin: 25px 0;
                overflow: hidden;

                img{
                    margin-left: -5%;
                    height: 100%;
                    width: auto;
                }
            }

            .socials{
                margin-bottom: 25px;

                .social{
                    font-size: 18px;
                    color: $secondary-color;
                    margin: 0 12px;

                    &:hover{
                        color: $primary-color;
                        transition: 0.6s;
                    }
                }
            }

            .about__text{
                font-size: 20px;
                text-align: center;
                width: 75%;
                opacity: .9;

                span{
                    text-decoration: underline;
                }
            }
        }
    }

    .work{
        background: $gray-color;
        margin-top: 60px;
        padding: 60px 0;

        .work__inner{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cards{
                margin: 35px 0;

                .card{
                    position: relative;
                    height: 350px;
                    overflow: hidden;

                    &:hover .card__overlay{
                        opacity: .8;
                        transition: all 0.4s ease-in-out 0s;
                    }

                    .card__overlay{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background: $secondary-color;
                        opacity: 0;

                        .plus__icon{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 40px;
                            color: $white-color;
                            z-index: 3;
                            cursor: pointer;
                        }
                    }

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                }

                .card__content{
                    position: fixed;
                    top: 0;
                    left: -100%;
                    height: 100%;
                    width: 100%;
                    background: rgba(51, 51, 51, .8);
                    padding: 15px;
                    z-index: 999;

                    &.show{
                        left: 0;
                        transition: 0.8s;
                    }

                    .card__content__container{
                        position: relative;
                        top: -115%;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;

                        @media screen and (max-width: 912px){
                            flex-direction: column;
                        }

                        &.show{
                            top: 0;
                            transition: 0.8s;
                        }

                        .details{
                            width: 45%;
                            height: 100%;
                            background: $gray-color;
                            padding-left: 25px;

                            @media screen and (max-width: 912px){
                                width: 100%;
                            }

                            .close{
                                position: absolute;
                                top: 15px;
                                right: 15px;
                                font-size: 26px;
                                cursor: pointer;
                            }

                            .card__title{
                                font-size: 24px;
                                margin-top: 15px;
                                text-transform: uppercase;
                            }

                            .tools{
                                margin-top: 10px;

                                .tool{
                                    padding: 8px 16px;
                                    border: 1px solid $secondary-color;
                                    background: transparent;
                                    border-radius: 15px;
                                    margin-right: 10px;
                                    cursor: pointer;

                                    &:hover{
                                        border: 1px solid transparent;
                                        background: $secondary-color;
                                        color: $white-color;
                                        transition: 0.6s;
                                    }
                                }
                            }
                        }

                        .view{
                            width: 55%;
                            background: $white-color;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            overflow: auto;
                            padding: 25px 0;
                            -ms-overflow-style: none;
                            scrollbar-width: none;

                            @media screen and (max-width: 912px){
                                width: 100%;
                                padding: 50px 0 25px 0;
                            }

                            &::-webkit-scrollbar {
                                display: none;
                            }

                            img{
                                width: 90%;
                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                                @media screen and (max-width: 912px){
                                    width: 88%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .blogs{
        padding: 60px 0;

        .blogs__inner{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cards{
                margin: 35px 0;

                .card:nth-child(1) .card__image{
                    background-image: url(https://miro.medium.com/max/700/1*WsR2pvcL7A0JfP8nLTCDuQ.jpeg);
                }

                .card:nth-child(2) .card__image{
                    background-image: url(https://miro.medium.com/max/700/1*Ea5oN7sXbBpxSv0542Tdvw.jpeg);
                }

                .card:nth-child(3) .card__image{
                    background-image: url(https://miro.medium.com/max/700/1*L_gJuNAiKE5rV3c7ZEx0FQ.jpeg);
                }

                .card{
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                    .card__image{
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 250px;
                        overflow: hidden;
                    }

                    .card__content{
                        padding: 25px 15px;

                        .card__title{
                            color: $primary-color;
                        }

                        .card__text{
                            margin: 15px 0;
                            word-break: break-all;
                        }
                    }
                }
            }
        }
    }

    .contact{
        padding: 60px 0;
        background: $gray-color;

        .contact__inner{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}