.workpage{
    background: $white-color;
    padding: 60px 0;

    .work__inner{
        width: 90%;
        margin: 0 auto;

        .cards{
            margin: 35px 0;

            .card{
                position: relative;
                height: 350px;
                overflow: hidden;
                background: $dark-blue;

                &:hover .card__overlay{
                    opacity: .8;
                    transition: all 0.4s ease-in-out 0s;
                }

                .bg__image__container{
                    width: 100%;
                    height: 100%;

                    .bg__image{
                        background-image: url(../images/myTasks.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                        transform-origin: 50% 0%;
                        transform: scale(1.2);
                    }
                }

                .card__overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: $secondary-color;
                    opacity: 0;

                    .plus__icon{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 40px;
                        color: $white-color;
                        z-index: 3;
                        cursor: pointer;
                    }
                }

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }

            .card__content{
                position: fixed;
                top: 0;
                left: -100%;
                height: 100%;
                width: 100%;
                background: rgba(51, 51, 51, .8);
                padding: 15px;
                z-index: 999;

                &.show{
                    left: 0;
                    transition: 0.8s;
                }

                .card__content__container{
                    position: relative;
                    top: -115%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;

                    &.show{
                        top: 0;
                        transition: 0.8s;
                    }

                    .details{
                        width: 45%;
                        height: 100%;
                        background: $gray-color;
                        padding-left: 25px;

                        .close{
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            font-size: 26px;
                            cursor: pointer;
                        }

                        .card__title{
                            font-size: 24px;
                            margin-top: 15px;
                            text-transform: uppercase;
                        }

                        .tools{
                            margin: 16px 0;

                            .tool{
                                padding: 8px 16px;
                                border: 1px solid $secondary-color;
                                background: transparent;
                                border-radius: 15px;
                                margin-right: 10px;
                                cursor: pointer;

                                &:hover{
                                    border: 1px solid transparent;
                                    background: $secondary-color;
                                    color: $white-color;
                                    transition: 0.6s;
                                }
                            }
                        }

                        .links{
                            margin: 15px 0;
                            display: flex;
                            flex-direction: column;

                            a:first-child{
                                margin-bottom: 8px;
                            }

                            a{
                                color: $primary-color;

                                &:hover{
                                    color: $dark-green;
                                    transition: 0.8s;
                                }

                                i{
                                    margin-right: 10px;
                                }
                            }
                        }
                    }

                    .view{
                        width: 55%;
                        background: $white-color;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        overflow: auto;
                        padding: 25px 0;
                        -ms-overflow-style: none;
                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        img{
                            width: 90%;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        }
                    }
                }
            }
        }
    }
}