$primary-color: #518071;
$secondary-color: #2F4858;
$gray-color: #ededed;
$white-color: #fff;
$black-color: rgba(34, 34, 34, .9);

$dark-green: #3f6459;
$light-green: rgba(200, 252, 234, 0.8);
$dark-blue: #1d2d36; 

$space-mono-font: "Space Mono", monospace;
$assistant-font : "Assistant", sans-serif;

$default-font-size: 16px;
$title-font-size: 32px;
